<div class="movie-detail-view">
  <div class="movie-image">
    <!-- Movie image -->
    <img src="{{ movie.ImageURL }}" alt="{{ movie.Title }}" />
  </div>
  <div class="movie-content">
    <!-- Movie Title -->
    <h1>{{ movie.Title }}</h1>
    <!-- Director and Genre links -->
    <div class="movie-metadata">
      Director: <a href="/directors/{{ movie.Director.Name }}">{{ movie.Director.Name }}</a> | 
      Genre: <a href="/genres/{{ movie.Genre.Name }}">{{ movie.Genre.Name }}</a>
    </div>
    <!-- Movie Description -->
    <p>{{ movie.Description }}</p>
  </div>
</div>
