.genre-detail-view {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 20px;
}

.genre-content {
  text-align: center;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
}
